body{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    min-height: 100vh;
    margin: 0;
    border: 20px solid black;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

ul li a{
    display: flex;
    flex-direction:column;
    text-decoration: none;
    list-style-type: none;
    color: black;
    padding: 5px;
}

.header{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: grey;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 25px;
    }

.recipe-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: grey;
    margin: 0;
    text-align: center;
}